<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=****;Persist Security Info=True;User ID=****;Password=****;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="DefaultConnectionString" connectionString="Data Source=localhost;Initial Catalog=****;Persist Security Info=True;User ID=****;Password=****!;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="UserConnectionString" connectionString="Data Source=localhost;Initial Catalog=****;Persist Security Info=True;User ID=****;Password=****;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="LogConnectionString" connectionString="Data Source=localhost;Initial Catalog=****;Persist Security Info=True;User ID=****;Password=****;Connection Timeout=10" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="40DAE38AA82046757452D93DE734CFEC17D0F017C6F803314427106CF2746C1828FE9B1D08DACA6E1D870F2A61C867FAD4A4B7C122D0B7A30696831D7118F14D" decryptionKey="AAF38761B345A48878F99BEA9EBCB373D013990063FD8110DE910458BF19BD4C" validation="SHA1" />
    <globalization culture="IT-it" uiCulture="IT-it" />
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<customErrors mode="On" defaultRedirect="~/error/500">
      <error statusCode="404" redirect="~/error/404"/>
      <error statusCode="500" redirect="~/error/500"/>
    </customErrors>-->
    <customErrors mode="Off" />
    <pages clientIDMode="AutoID" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="100000" />
    <authentication mode="Forms">
      <forms loginUrl="~/" />
    </authentication>
    <roleManager enabled="true" />
    <membership defaultProvider="CustomizedMembershipProvider" userIsOnlineTimeWindow="180">
      <providers>
        <add name="CustomizedMembershipProvider" requiresQuestionAndAnswer="false" passwordAttemptWindow="9999999" connectionStringName="UserConnectionString" enablePasswordRetrieval="true" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="999999" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/Error/404" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Error/500" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <clientCache cacheControlMode="NoControl" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <add value="Init_Config.aspx" />
      </files>
    </defaultDocument>
    <!-- <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <ajaxControlToolkit useStaticResources="true" renderStyleLinks="false" />
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
